@media only screen and (max-width: 1140px) {
    .row {
        width: 100%;
        padding: 2%;
    }
    .section-welcome p {
        width: 90%;
    }
    
}

@media only screen and (max-width: 950px) {
    h1 {
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 890px){
    nav {
        padding: 0 2%;
    }
    nav ul {
        opacity: 0;
    }
    
    nav ul li {
        display: block;
    }
    nav img {
        display: none;
    }
    
    .js--menu-button {
        display: block;
    }
}



@media only screen and (max-width: 800px) {
    .job-box {
        width: 100%;
    }
    
    .job-box h3 {
        font-size: 1.5rem;
    }
    
    .section-experience {
        padding: 80px 1%;
    }
    .skills-box {
        width: 80%;
    }
    
}

@media only screen and (max-width: 780px) {
    .header-title {
        width: 100%;
        padding: 0 3%;
    }
}

@media only screen and (max-width: 768px) {
    .section-portfolio .col{
        margin: 1% 0;
    }
}

@media only screen and (max-width: 650px) {
    .section-welcome p {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 615px){
    .job-box h3 {
        font-size: 1.25rem;
    }
    
    .job-box p {
        font-size: 1rem;
    }
    
    .job-box img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    h1{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 480px) {
    .job-box h3{
        font-size: 1.75rem;
    }
    
    .footer-social {
        float: none;
        margin-top: 10px;
    }    
}

@media only screen and (max-width: 450px) {
    .section-welcome p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 418px) {
    h1 {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 350px) {
    h1 {
        font-size: 1.10rem;
    }
    
    .section-welcome p {
        font-size: 0.85rem;
    }
}
