.bg-black {
  background: #000000; }

.navigation-item {
  width: 30%;
  cursor: pointer; }

.navigation-item:hover {
  opacity: 0.85; }

.text-vutred {
  color: #e5002b; }

.text-sagblue {
  color: #089acd; }

.bg-vutred {
  background: #e5002b; }
